@font-face {
  font-family: 'iconfont'; /* Project id 4553750 */
  src: url('iconfont.eot?t=1716181479988'); /* IE9 */
  src:
    url('iconfont.eot?t=1716181479988#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
      url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABpAAAAJ2AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACCcAp8gQgBNgIkAwgLBgAEIAWEZwc9G9EFEdWTL2RfFNjNxBncYiEdkFZoF70btsI9eR4MJYfnv/1o983Mqmoy0bTJHNMEjQaRRhOrrpnI+d3AA+ipAQLM+AfA5lwPykSokXyLHn0h5S27NH0y6lL9CvTACyJfqKXMhErrlE4HFsDog6aUTiHMhDziURhedZA7EYZnEMCRdKVUdW1dG65zw2sLBDLYvQJZpcxNTw5jLwUxGJqxR7BFlxrkHDagDtUzOBt9Xv5mZg8KG41d07SaMR78SnRG6A0r9LuN+ZroaQqwATSQDAxIW3eygUaaBI2j0xBJ6w0CvxItK3Agu7Yjf51d7gxAMJXuSfaUWy1XAJikPwakjLoNlIf36uVjv06/q1d8V64cXYLLPn2XL/uNXpUK1WHzbpOu3vC5XR7hkDFbHxkVmJVyJtJx3/amTbUq61Zm+At3lSX8xkJTpkPm3a1W200k5QCs61idjwAC9y6dORx085+9kwHgy9LRZOS3bsDcYL9fp8BP0vpAojHCoMyx8hBAKfKouAIcnQhYbK+nD2MtXjeTFezxuiW3HUEZNPZE0oZPhA1OZMIWe0rgSJKa1U54WaIR4wDE2iYQ3N2BwpX70Lh7SBv+JWzw9RO2uPsPRzpiOydi08yRUQla0D+IhhbnGhKZvaFvRXFd7IVcI43A2A3lzBUX5Clm1LefRBw4phkuwmlYCsHKlNBIF0TWQ9+7prd0hubNkVEJWkD/gGhocQFZit93Q9+KYpB+JblGah4Y6RgA+qouUNudvFLffkLEAY5pBi7SICyFgLV5UEIjHWFEfD3QOySHqt36+vz1xC5sq8rZe7/xWg9NLb6GmKJahNq/0WYDAAAA')
      format('woff2'),
    url('iconfont.woff?t=1716181479988') format('woff'),
    url('iconfont.ttf?t=1716181479988') format('truetype'),
    url('iconfont.svg?t=1716181479988#iconfont') format('svg');
}

[class^='icon-'],
[class*='icon-'] {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuojiantou:before {
  content: '\e82a';
}
