/*公共字体的样式 */
@font-face {
  font-family: 'AlibabaPuHuiTi';
  src: url('./font/AlibabaPuHuiTi-2-55-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PingFang SC-Bold';
  src: url('./font/苹方黑体-中粗-简.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FZCHSJW--GB1-0';
  src: url('./font/fzchsjwgb10_downyi.com.TTF');
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
}
