/*公共字体的样式 */
@font-face {
  font-family: 'AlibabaPuHuiTi';
  src: url('./font/AlibabaPuHuiTi-2-55-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
/*公共字体的样式 */
@font-face {
  font-family: 'AlibabaPuHuiTi Bold';
  src: url('./font/AlibabaPuHuiTi-2-85-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
}
div {
  font-family: Alibaba PuHuiTi;
}
